<div id="<%= dom_id project %>">
  <p>
    <span style="border: 2px solid black;font-weight:bold;">
      <strong>Title:</strong>
      <%= project.title %>
    </span>
  </p>

  <p>
    <span style="border: 1px solid black;font-weight:ariel;">
      <strong>Description:</strong>
      <%= project.description %>
    </span>
  </p>

</div>
