<style>
  table, th, td {
    border:1px solid black;
    background-color:lightgrey
  }
</style>

<div id="<%= dom_id project %>">
  <table style="width:100%">
    <tr>
     <td><strong>Title:</strong><%= project.title %></td>
    </tr>
    <tr>
      <td><strong>Description:</strong><%= project.description %></td>
    </tr>
  </table>
</div>
