<style>
table, th, td {
  border:1px solid black;
}
</style>
<h1>Editing project</h1>

<%= render "form", project: @project %>

<br>

<div>
  <span style="border: 2px solid black;font-weight:bold;background-color:lightgreen">
      <td><%= link_to "Show this project", @project %></td>
      <td><%= link_to "Back to projects", projects_path %></td>
  </span>
</div>
