<style>
table, th, td {
  border:1px solid black;
}
</style>
<h1>Editing project</h1>

<%= render "form", project: @project %>

<br>

<div>
  <table style="width:100%">
    <tr>
      <td><%= link_to "Show this project", @project %></td>
      <td><%= link_to "Back to projects", projects_path %></td>
    </tr>
  </table>
</div>
