<p style="color: green"><%= notice %></p>

<h1><span style="border: 3px solid black;font-weight:bold;background-color:lightgreen">Projects</span></h1>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <span style="border: 2px solid black;font-weight:bold;background-color:lightgreen">
        <%= link_to "Show this project |", project %>
        <a href="/projects/new"> New Project </a>
      </span>
    </p>
  <% end %>
</div>



