<p style="color: green"><%= notice %></p>

<h1><span style="border: 3px solid black;font-weight:bold;background-color:lightgreen">Projects</span></h1>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "Show this project", project %>
    </p>
  <% end %>
</div>

<a href="/projects/new" <span style="border: 2px solid black;font-weight:bold;background-color:lightgreen">New Project</span> </a>

